[submodule "gsoc22-socnavenv"]
	path = gsoc22-socnavenv
	url = https://github.com/robocomp/gsoc22-socnavenv.git
[submodule "gsoc22-socnavenv.git"]
	path = gsoc22-socnavenv.git
	url = https://github.com/robocomp/gsoc22-socnavenv.git
